###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [1]:
# Write code here
list1 = ["M", "na", "i", "kh"]
list2 = ["y", "me", "s", "an"]
combined_list=[]

n = max(len(list1), len(list2))
for i in range(n):
    secondary = []
    if i < len(list1):
        secondary.append(list1[i])
    if i < len(list2):
        secondary.append(list2[i])
    combined_list.append(secondary)
    
print(combined_list)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [4]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
nested_list = list1[2][2]
i = nested_list.index(6000)
nested_list.insert(i+1,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [3]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32] 
n = len(candy_list)
for i in range(n):
    print(f"{candy_list[i]} - {no_of_items[i]}")

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [5]:
# Write code here
list1 = [1,2,3,4,5,6]
sum_list = []
sum_list.append(list1[0])
for i in range(1,len(list1)):
    sum_list.append(sum_list[i-1]+list1[i])

sum_list

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [6]:
# Write code here
list1= [2,4,6,10,1]
n = len(list1)
greater_sum_list=[]
for i in range(n):
    sum = list1[i]
    for j in range(n):
        if i != j:
            if list1[i] < list1[j]:
                sum += list1[j]
    
    greater_sum_list.append(sum)
greater_sum_list

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [7]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

combined_list = []
for i in range(len(num1)):
    for j in range(len(num2)):
        if num1[i]==num2[j]:
            combined_list.append(num1[i])

combined_list.sort()

print(combined_list)

[34, 67, 89]


**Problem 8:** Split a string from a list into individual words.

**Example:**

Input:
```bash
['This is a test', 'for splitting', 'strings into words.']
```

Output:
```bash
['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']
```

In [8]:
# Write code here
list1 = ['This is a test', 'for splitting', 'strings into words.']

splitted_string_list=[]
for i in list1:
    split_list = i.split(" ")
    splitted_string_list.extend(split_list)
    
splitted_string_list

['This', 'is', 'a', 'test', 'for', 'splitting', 'strings', 'into', 'words.']


### `Problem 9:` Convert a character matrix to a single string using string comprehension.

**Example 1:**

Input:
```bash
[['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]
```

Output:
```bash
this is a test
```

In [9]:
# Write code here
matrix = [['t', 'h', 'i', 's'], ['i', 's'], ['a'], ['t', 'e', 's', 't']]

s = ' '.join(''.join(w) for w in matrix)

s

'this is a test'

Here's the edited version of the problem:

---

### `Problem 10:` Add spaces between potential words in a string.

**Example:**

Input:
```bash
['thisIs', 'aTest', 'forStringSplit']
```

Output:
```bash
['this Is', 'a Test', 'for String Split']
```

In [10]:
# Code here
list1 = ['thisIs', 'aTest', 'forStringSplit']
result = []

for word in list1:
    new_word = ''
    for ch in word:
        if ch.isupper():
            new_word += ' ' + ch
        else:
            new_word += ch
    result.append(new_word.strip())

print(result)

['this Is', 'a Test', 'for String Split']

### `Problem 11:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [11]:
# Write code here
list1 = [[1,2,3],[4,5,6],[7,8,9]]
max_list = []
for inner_list in list1:
    max_list.append(max(inner_list))

max_list

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [12]:
# Write code here
list1 = [[3*i + j for j in range(3)] for i in range(3)]

list1

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### Problem 14: Extract Even Numbers from a List

**Task:** Given a list of integers, use list comprehension to create a new list containing only the even numbers.

**Example:**

Input:
```bash
[1, 2, 3, 4, 5, 6, 7, 8, 9]
```

Output:
```bash
[2, 4, 6, 8]
```

In [13]:
list1 = [1,2,3,4,5,6,7,8,9]

even_list =[]

for i in list1:
    if i % 2 == 0:
        even_list.append(i)
        
even_list

[2, 4, 6, 8]

### Problem 15: Convert Strings to Uppercase

**Task:** Given a list of strings, use list comprehension to convert all strings to uppercase.

**Example:**

Input:
```bash
['apple', 'banana', 'cherry']
```

Output:
```bash
['APPLE', 'BANANA', 'CHERRY']
```

In [14]:
list1 = ['apple','banana','cherry']

capitalized_list= [word.upper() for word in list1]

capitalized_list

['APPLE', 'BANANA', 'CHERRY']