### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
# Code here
n = int(input("Enter the pattern term: "))
for i in range(n,0,-1):
    temp = i
    for j in range(temp,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [6]:
# Code here
n = int(input("Enter the pattern term: "))
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [9]:
# Code here
n = int(input("Enter the pattern term: "))
for i in range(1,2*n+1,2):
    no_of_space = 2*n-i
    for j in range(no_of_space):
        print(" ",end="")
    
    for j in range(i):
        print("*",end=" ")
    print()

     *
   * * *
 * * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [10]:
# Code here
n = int(input("Enter the pattern term: "))
for i in range(1,n+1):
    for j in range (i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [11]:
# Code here
x = int(input("Enter the value of x: "))
n = int(input("Enter the term number: "))
sum = 1
for i in range(2,n+1):
    sum += (x**i)/i
    
print(f"Sum of the series is: {sum}")

Sum of the series is: 211.41666666666666

### `Problem 6` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [14]:
# Code here
n = int(input("Enter the term number: "))
s = ""
sum = 0
for i in range (1,n+1):
    s += "2" 
    sum += int(s)
print(f"Sum of the series upto {n} term is {sum}")

Sum of the series upto 5 term is 24690

### `Problem 7`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [ ]:
# Code here
numbers = [1, 2, 3, 4]

for i in numbers:
    for j in numbers:
        if j == i:
            continue 
        for k in numbers:
            if k == i or k == j:
                continue  
            for l in numbers:
                if l == i or l == j or l == k:
                    continue  
                print(i, j, k, l)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1